footer.footer
  .container-fluid
    .footer-content
      .row
        .col-lg-3.col-md-6.footer-column
          .footer-logo
            h3 Tida
          p.footer-description Hệ thống mua sắm hiện đại và chuyên nghiệp cho khách hàng của bạn.
          .footer-social
            a(href="https://web.facebook.com/atnguyen.656678" aria-label="Facebook")
              i.fab.fa-facebook-f
            a(href="#" aria-label="Twitter")
              i.fab.fa-twitter
            a(href="#" aria-label="Instagram")
              i.fab.fa-instagram
            a(href="#" aria-label="LinkedIn")
              i.fab.fa-linkedin-in

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Liên kết nhanh
          ul.footer-links
            li
              a(href="/") Trang chủ
            li
              a(href="/products") Sản phẩm
            li
              a(href="/user/login") Tài khoản

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Hỗ trợ
          ul.footer-links
            li
              a(href="#") Trung tâm trợ giúp
            li
              a(href="#") Tài liệu hướng dẫn
            li
              a(href="#") Điều khoản sử dụng
            li
              a(href="#") Chính sách bảo mật

        .col-lg-3.col-md-6.footer-column
          h4.footer-title Liên hệ
          ul.footer-contact
            li
              i.fas.fa-map-marker-alt
              span Hà Nội, Việt Nam
            li
              i.fas.fa-phone
              span 0969175166
            li
              i.fas.fa-envelope
              span tiendatnguyendanh@gmail.com
            li
              i.fas.fa-clock
              span T2 - T6: 8:00 - 17:00

    .footer-bottom
      .row
        .col-md-6
          p.footer-copyright © 2024 Tida. Mọi quyền được bảo lưu.
        .col-md-6
          p.footer-credits Thiết kế với
            i.fas.fa-heart
            |  bởi Công ty của bạn
