mixin button-delete(item,url)
    button(
            class="btn-action btn-delete"
            button-delete
            data-id = item._id
            title="Xóa"
        )
            i.fas.fa-trash
    //- form delete item 
    form(
        action = "",
        method = "POST",
        id = "form-delete-item",
        data-path = prefixAdmin + `/${url}/delete`
    )
    //- end form delete item